@model DAL.Model.PagedListClient<DAL.Model.Car>
@using PagedList;
@using PagedList.Mvc;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Brand</th>
            <th>Class</th>
            <th>ModelName</th>
            <th>ModelCode</th>
            <th>Price</th>
            <th>Date Of Manufacturing</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var item in Model.Results)
        {
        <tr>
            <td>
                <span>
                    @{
                        if (item.Image != null)
                        {
                            foreach (var image in item.Image.Split('_'))
                            {
                                if (image != "")
                                { 
                                    <img src="@image" style="width: 80px; height: 80px;border-radius:10px" />
                                }
                            }
                        }
                    }
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{ 
                    var datetime = item.DateofManufacturing.ToString("dd MMMM, yyy");
                }
                @datetime
            </td>
            <td>
                <a href="#" data-ID="@item.CarId" onclick="EditModule(this)">Edit</a> | <a href="#" data-id="@item.CarId" data-modalid="modal_delete" onclick="deleteconfirmation(this)">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<div class="col-md-12">
    <div class="pagedList" style="text-align:center">
        @Html.PagedListPager(Model.Results, page => Url.Action("_carList", "Car", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
